.footer {
    background: #F8F9FA;
    border-top:1px solid black;
    margin-top:20px;
    padding: 20px 0px 20px 0px;
}

.main-nav {
    margin-bottom: 10px;
}

.card.post-settings .form-group {
    position: relative;
    left: 40px;
}

.card.post-settings .card-header {
    margin-bottom: 15px;
}

.dashboard-menu {
    margin-bottom: 20px;
}